.d-flex {
  display: flex;
}

.d-flex-col {
  @extend .d-flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.w-100 {
  width: 100%;
}

.flex-grow {
  flex-grow: 1;
}
