// colors
$blue: blue;
$dark-grey: #373b47;
$white: #ffffff;
$deep-amethyst: #938fa3;
$cultured: #f5f6fa;
$maximum-blue-purple: #afadfe;


// font sizes
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-19: 19px;
$font-40: 40px;


// font weights
$bold-font-weight: 400;
$bolder-font-weight: 500;
$boldest-font-weight: 600;
$font-weight-700: 700;
